html {
    font-family: "freight-big-pro","Big Caslon","Times New Roman",Times,"Palatino",serif;
}

body {
    padding-left: 85px;
    padding-right: 85px;
}

.wrapper {
    min-width: 950px;
    max-width: 1270px;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    color: rgb(49, 22, 9);
}

h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recipe--name {
    padding-top: 15px;
    font-size: 21px;
}

.recipe--item {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.recipe--item img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.recipe--item img:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* CSS for recipes links */

.recipe--img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
}

.recipe--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipe--description {
    max-width: 790px;
}

.recipe--steps {
    width: 450px;
    border: black solid 1px;
    border-radius: 10px;
    margin-left: 20px;
}


.recipe--steps li {
    line-height: 40px;
}

h2 {
    padding-left: 15px;
    color: rgb(49, 22, 9);
}

.card {
    width: 470px;
}